<footer>
  <p>This work is part of CSCI E-114, Web application development with Jamstack, Harvard Extension School
  </p>
  <p>Information for this site comes from the
    <a href="https://about.usps.com/who/profile/">United States Postal Service</a>, with special thanks to Roy Betts (USPS), and the
    <a href="https://postalmuseum.si.edu/">Smithsonian National Postal Museum</a>.  Stamp images © United States Postal Service. All rights reserved.<br/>Used with permission.</p>
</footer>